h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
	margin: 0;
}

ol[role="list"],
ul[role="list"] {
	list-style: none;
	padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
	font-size: inherit;
	font-weight: inherit;
}

img {
	display: block;
	max-inline-size: 100%;
}

:root {
	--light-color: #F5F5F7;
	--dark-color: #221F20;
	--container-padding-inline: 13%;
	--footer-padding-inline: 10%;

	@media screen and (max-width: 768px) {
		--container-padding-inline: 6%;
		--footer-padding-inline: 6%;
	}
}

html {
	font-family: "Inter", sans-serif;
	scroll-behavior: smooth;
}

.container {
	padding: 0 var(--container-padding-inline);
}

.title {
	color: var(--dark-color, #221F20);
	text-align: center;
	font-style: normal;
	font-size: 40px;
	font-weight: 400;
	line-height: normal;

	span {
		position: relative;
	}

	span::after {
		content: "";
		display: block;
		position: absolute;
		bottom: 0;
		right: 0;
		width: 75px;
		height: 2px;
		background-color: #000;
	}

	@media screen and (max-width: 768px) {
		font-size: 36px;
	}

	@media screen and (max-width: 576px) {
		font-size: 24px;
	}
}

.promo {
	position: relative;
	min-height: 100vh;
	background: url('../img/main_bg.jpg') center center / cover no-repeat;
	padding-top: 75px;

	@media screen and (max-width: 768px) {
		& {
			background-image: url("../img/main_bg.jpg");
		}
	}
}

.promo__title {
	color: var(--light-color, rgb(245, 245, 247));
	font-size: 60px;
	font-weight: 400;
	line-height: normal;
	text-transform: uppercase;

	@media screen and (max-width: 768px) {
		font-size: 48px;
	}

	@media screen and (max-width: 576px) {
		font-size: 26px;
	}
}

.promo__subtitle {
	margin-top: 124px;
	color: var(--light-color, rgb(245, 245, 247));
	font-size: 32px;
	font-weight: 100;
	line-height: normal;

	@media screen and (max-width: 768px) {
		& {
			margin-top: 80px;
		}
	}

	@media screen and (max-width: 576px) {
		margin-top: 30px;
		font-size: 16px;
	}
}

.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	margin-top: 20px;
	padding: 3px 10px;
	width: 160px;
	min-height: 38px;
	box-sizing: border-box;
	border: 1px solid var(--light-color, rgb(245, 245, 247));
	background: rgba(217, 217, 217, 0);
	color: var(--light-color, rgb(245, 245, 247));
	font-family: Inter;
	font-size: 16px;
	font-weight: 100;
	line-height: normal;
	cursor: pointer;
	transition: all 0.3s;

	@media screen and (max-width: 576px) {
		font-size: 14px;
		width: 120px;
		height: 30px;
	}
}

.btn:hover {
	font-weight: 500;
	background: rgba(217, 217, 217, 0);
	box-shadow: 5px 5px 10px 0px rgba(255, 255, 255, 0.62);
}

.promo__address {
	position: relative;
	margin-top: 100px;
	color: var(--light-color, rgb(245, 245, 247));
	font-style: normal;
	font-size: 16px;
	font-weight: 100;
	line-height: normal;

	address {
		font-style: normal;
	}

	a {
		color: inherit;
		text-decoration: none;
	}

	&::before {
		content: "";
		display: block;
		position: absolute;
		left: -45px;
		top: -17px;
		width: 40px;
		height: 49px;
		background: url("../icons/arrow.svg") center center / cover no-repeat;
	}

	@media screen and (max-width: 768px) {
		& {
			margin-top: 80px;
		}

		&::before {
			left: -40px
		}
	}

	@media screen and (max-width: 750px) {
		&::before {
			display: none;
		}

		@media screen and (max-width: 576px) {
			margin-top: 233px;
		}
	}
}

.keywords {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	bottom: 0;
	padding: 0 360px;
	width: 100%;
	height: 20px;
	background: linear-gradient(180.00deg,
			rgba(255, 255, 255, 0.04) 0%,
			rgba(255, 255, 255, 0.12) 50%,
			rgba(255, 255, 255, 0.2) 100%);

	li {
		list-style-type: none;
		color: var(--light-color, rgb(245, 245, 247));
		font-size: 10px;
		font-weight: 100;
		line-height: normal;
	}

	@media screen and (max-width: 1440px) {
		& {
			padding: 0 20px;
		}
	}

	@media screen and (max-width: 768px) {
		& li:nth-last-child(-N + 6) {
			display: none;
		}
	}

	@media screen and (max-width: 576px) {
		& li:nth-last-child(-N + 11) {
			display: none;
		}
	}

	&::before {
		content: "";
		display: block;
		position: absolute;
		left: -45px;
		top: -17px;
		width: 40px;
		height: 49px;
		background: url("../icons/arrow.svg") center center / cover no-repeat;
	}

	@media screen and (max-width: 768px) {
		& {
			margin-top: 80px;
		}

		&::before {
			left: -40px
		}
	}

	@media screen and (max-width: 750px) {
		&::before {
			display: none;
		}
	}
}

.about {
	background-color: var(--light-color, rgb(245, 245, 247));
	padding: 80px;
}

.about__title {
	color: var(--dark-color, #221F20);
	font-style: italic;
	font-size: 12px;
	font-weight: 400;
	line-height: normal;
}

.about__text {
	margin-top: 20px;
	color: var(--dark-color, #221F20);
	width: 1053px;
	font-size: 40px;
	font-weight: 400;
	line-height: normal;

	span {
		color: rgb(165, 165, 165);
	}

	@media screen and (max-width: 1440px) {
		width: 100%;
	}
}

.services {
	display: flex;
	column-gap: 10px;
	margin-top: 80px;
}

.services__items {
	width: 50%;

	ul {
		margin-top: 20px;
		padding: 0;
	}

	li {
		position: relative;
		margin-top: 10px;
		list-style-type: none;
		color: var(--dark-color, #221F20);
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;

		&:first-child::before {
			content: "";
			display: block;
			position: absolute;
			left: -30px;
			top: 2px;
			width: 15px;
			height: 15px;
			background: url("../icons/camera.svg") center center / cover no-repeat;
		}

		&:nth-child(3)::before {
			content: "";
			display: block;
			position: absolute;
			left: -30px;
			top: 2px;
			width: 15px;
			height: 15px;
			background: url("../icons/edit.svg") center center / cover no-repeat;
		}
	}
}

.services__text {
	width: 50%;
	color: var(--dark-color, #221F20);
	font-size: 20px;
	font-weight: 400;
	line-height: normal;
	letter-spacing: 0, 4px;
}

.services__item-subtitle {
	color: var(--dark-color, #221F20);
	font-family: Inter;
	font-style: italic;
	font-size: 16px;
	font-weight: 400;
	line-height: normal;
}

.works {
	padding-top: 80px;
	background-color: var(--light-color, #F5F5F7);
}

.works__grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr) 1.5fr;
	/* grid-template-rows: repeat(2, 463px) 700px; */
	row-gap: 50px;
	column-gap: 30px;
	margin-top: 50px;

	img {
		width: 100%;
		box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
		height: 100%;
		object-fit: cover;
	}

	@media screen and (max-width: 768px) {
		column-gap: 20px;
		row-gap: 30px;
		margin-top: 40px;
	}

	@media screen and (max-width: 576px) {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(2, 1fr) 1.5fr;
		row-gap: 30px;
		column-gap: 0px;
	}
}

.inspiration {
	padding-top: 80px;
	background-color: var(--light-color, #F5F5F7);
}

.inspiration__grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 30px;
	margin-top: 50px;

	img {
		width: 100%;
		box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
	}
}

#tenement {
	grid-row: 1/3;
	grid-column: 4/5;
}

#sky {
	grid-column: 2/4;
}

.customers {
	padding-top: 80px;
	padding-bottom: 100px;
	background-color: var(--light-color, #F5F5F7);
}

.customers__wrapper {
	margin-top: 50px;
	display: flex;
	flex-wrap: wrap;
	gap: 30px;

	img {
		width: calc((100% - 90px) / 4);
		box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
	}
}

.footer {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 88px 0;
	background: #000;
	color: var(--light-color, #F5F5F7);
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.footer__addr {
	font-style: normal;
}

.footer__tel {
	color: var(--light-color, #F5F5F7);
	text-decoration: none;
}

.footer__social {
	padding-left: 0;
	display: flex;
	column-gap: 30px;
	list-style: none;

	li {
		width: 32px;
		height: 32px;
		border: 1px solid var(--light-color, #F5F5F7);
		background: rgba(217, 217, 217, 0);

		a {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;

			img {
				width: 22px;
				height: 22px;
			}
		}
	}
}